html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.map {
    width: 100%;
    height: 100vh;
}
/* ===== Weather Section Style ===== */
.weather-box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 230px;
    background: white;
    padding: 10px;
    border-radius: 6px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}
